@model Employee
@using WebApplication1.csproj.Models
@using WebApplication1.Models

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h2>@Model.Name</h2>
<h3>@ViewData["Message"]</h3>
<h1>@ViewData["Temprature"]</h1>



@{ // باستخدام ViewData
    }
@* <select class="form form-control">
    @foreach (var Bran in (ViewData["Branches"] as List<string>))
    {
        <option>@Bran</option>
    }
</select> *@



@{
    // باستخدام ViewBag
}
<select class="form form-control">
    @foreach (var Bran in ViewBag.Branches)
    {
        <option>@Bran</option>
    }
</select>
