@model WebApplication1.ViewModel.EmpWithDeptListViewModel
@using WebApplication1.ViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Bage of Employees</h1>

<form method="post" action="/Employee/SaveEdit/@Model.Id">
    <div>
    <label>Id</label>
    <input type="number" value="@Model.Id" id="Id" name="Id" class="form-control" />
	</div>

    <div>
    <label>Name</label>
        <input type="text" value="@Model.Name" id="Name" name="Name" class="form-control" />
	</div>
    <div>
    <label>Salary</label>
        <input type="number" value="@Model.Salary" id="Salary" name="Salary" class="form-control" />
	</div>
    <div>
        <label>JobTitle</label>
        <input type="" value="@Model.JobTitle" id="JobTitle" name="JobTitle" class="form-control" />
	</div>
    <div>
        <label>ImageURL</label>
        <input type="text" value="@Model.ImageURL" id="ImageURL" name="ImageURL" class="form-control" />
	</div>
 @*    <div>
        <label>Address</label>
        <input type="" value="@Model.Address" id="Address" name="Address" class="form-control" />
	</div> *@
    <div>
        <label>DepartmentId</label>
        @* <input type="number" value="@Model.DepartmentId" id="DepartmentId" name="DepartmentId" class="form-control" /> *@
        <select asp-for="DepartmentId" asp-items="ViewBag.Departments" class="form-control">
        @foreach (var deptItem in Model.DepartmentList)
            {
                <option>@deptItem.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="save" class="btn-success" />
</form>
